src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:siebel="http://www.mulesoft.org/schema/mule/siebel" 
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	version="EE-3.6.2" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/siebel http://www.mulesoft.org/schema/mule/siebel/current/mule-siebel.xsd">

    <data-mapper:config name="map_to_csv" transformationGraphPath="map_to_csv.grf" doc:name="map_to_csv"/>
    <data-mapper:config name="map_Siebel_Account_Properties" transformationGraphPath="map_siebel_account_properties.grf" doc:name="map_Siebel_Account_Properties"/>

        <flow name="mainFlow"  doc:description="This flow is the entry point to the Template business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.">
        <flow-ref name="gatherDataFlow" doc:name="call gatherDataFlow"/>
 
        <flow-ref name="formatOutputFlow" doc:name="call formatOutputFlow"/>
        <flow-ref name="outboundFlow" doc:name="call outboundFlow"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <sub-flow name="gatherDataFlow" >
        <scatter-gather doc:name="Scatter-Gather">
            <custom-aggregation-strategy class="org.mule.templates.transformers.AccountMergeAggregationStrategy"/>
            <sfdc:query config-ref="Salesforce" query="dsql:SELECT Id,AccountNumber,Description,Industry,Name,NumberOfEmployees FROM Account" doc:name="query all accounts from SalesForce"/>
            <processor-chain>
                <siebel:query-business-components config-ref="Oracle_Siebel_Business_Objects" businessObjectComponentType="Account.Account" doc:name="query all accounts from Siebel">
                    <siebel:fields-to-retrieve>
                        <siebel:fields-to-retrieve>Id</siebel:fields-to-retrieve>
                        <siebel:fields-to-retrieve>Industry</siebel:fields-to-retrieve>
                        <siebel:fields-to-retrieve>Name</siebel:fields-to-retrieve>
                        <siebel:fields-to-retrieve>Employees</siebel:fields-to-retrieve>
                    </siebel:fields-to-retrieve>
                </siebel:query-business-components>
                <data-mapper:transform config-ref="map_Siebel_Account_Properties" doc:name="map Siebel Account Properties"/>
                <expression-component doc:name="Iterator to payload"><![CDATA[payload = payload.iterator();]]></expression-component>
            </processor-chain>

        </scatter-gather>

    </sub-flow>    
    <sub-flow name="formatOutputFlow" >
        <custom-transformer class="org.mule.templates.transformers.SortAccountListTransformer" doc:name="Custom component to sort accounts list"/>
        <data-mapper:transform config-ref="map_to_csv" doc:name="transform Collection of Maps to CSV Format"/>
        <object-to-string-transformer doc:name="CSV Output Object to String"/>
    </sub-flow>
</mule>
